<!--<form action="/var/www/smartcoffee-web/app/cgi/bin/cf" method="POST">-->
    <div class="center">
        <div class="header">
            <h3 class="text-muted">Coffee Machine</h3>
        </div>
        <div class="img-block">
            <div class="fontstype" ng-click="selectCoffeeCup('0')">
                <button type="button" class="button-circle"><i class="flaticon-espresso"></i> Espresso</button>
            </div>            
        </div>

        <div class="img-block">
            <div class="fontstype" ng-click="selectCoffeeCup('1')">
                <button type="button" class="button-circle"><i class="flaticon-normal-cup"></i> Normal cup</button>
            </div>          
        </div>
        <div class="img-block">
            <div class="fontstype" ng-click="selectCoffeeCup('2')">
                <button type="button" class="button-circle"><i class="flaticon-long-cup"></i> Large cup</button>
            </div>   
        </div>
        <div class="footer">
            <span class="glyphicon glyphicon-copyright-mark"></span> 2016 IoT Lab - VNG
        </div>
    </div>   
<!--</form>-->
